.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wait-table-container {
  width: 100%;
}

.wait-time-table {
  display: block;
  overflow: auto;
  height: 200px;
}

.waiting-table .ride-column {
  width: 100%;
}
.waiting-table .wait-column {
  width: 125px;
}

.waiting-table .open-column {
  width: 125px;
}

.waiting-table tr {
  display: block;
}

