/* FONT DEFINITIONS */
@font-face {
  font-family: 'Acme';
  src: local('Acme'), url(./assets/fonts/AcmeRegular.ttf) format('ttf');
}

@font-face {
  font-family: 'Wizards Magic';
  src: local('Wizards Magic'), url(./assets/fonts/WizardsMagic.ttf) format('ttf');
}

/* Spacing for nav */
[role="main"] {
  padding-top: 133px; /*Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

html, body {
  min-height: 100%;
  font-family: 'Acme';
}

#main{
  overflow: auto;
  padding-bottom: 150px;
}

#main-container {

}

.navbar-brand {
  padding-top: .15rem;
  padding-bottom: .15rem;
  font-size: 2.5rem;
  font-family: 'Wizards Magic';
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wait-table-container {
  width: 100%;
}

.wait-time-table {
  display: block;
  overflow: auto;
  height: 200px;
}

.waiting-table .ride-column {
  width: 100%;
}
.waiting-table .wait-column {
  width: 125px;
}

.waiting-table .open-column {
  width: 125px;
}

.waiting-table tr {
  display: block;
}